<!DOCTYPE html>

<html ng-app="app">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="/Areas/Admin/Content/fevi-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Areas/Admin/Content/fevi-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Areas/Admin/Content/fevi-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Areas/Admin/Content/fevi-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Areas/Admin/Content/fevi-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Areas/Admin/Content/fevi-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Areas/Admin/Content/fevi-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Areas/Admin/Content/fevi-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Areas/Admin/Content/fevi-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Areas/Admin/Content/fevi-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Areas/Admin/Content/fevi-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Areas/Admin/Content/fevi-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Areas/Admin/Content/fevi-icon/favicon-16x16.png">
    @*<link rel="manifest" href="/Areas/Admin/Content/fevi-icon/manifest.json">*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Areas/Admin/Content/fevi-icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>MakerWala - @ViewBag.Title</title>


    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @*<script src="~/Areas/Admin/Content/js/jquery/dist/jquery.min.js"></script>*@

    <script src="https://code.jquery.com/jquery.min.js"></script>


    <script src="~/Areas/Admin/Content/js/angular-1.7.2/angular.min.js"></script>
    <script src="~/Areas/Admin/Content/js/angular-1.7.2/angular-animate.min.js"></script>
    <script src="~/Areas/Admin/Content/js/angular-1.7.2/angular-touch.min.js"></script>
    <script src="~/Areas/Admin/Content/js/angular-1.7.2/angular-ui.min.js"></script>
    <link href="~/Areas/Admin/Content/js/angular-1.7.2/angular-busy.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/js/angular-1.7.2/angular-busy.js"></script>
    <script src="~/Areas/Admin/Content/js/Angular-Multi-Select/angularjs-dropdown-multiselect.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>


    @* <script type="text/javascript" src="https://www.phpflow.com/demo/angular_datatable_demo/angular-datatables.min.js"></script>
    <script src="https://www.phpflow.com/demo/angular_datatable_demo/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://www.phpflow.com/demo/angular_datatable_demo/datatables.bootstrap.css" />*@

    <script src="~/Areas/Admin/Content/Datatable/angular-datatables.min.js"></script>
    <script src="~/Areas/Admin/Content/Datatable/jquery.dataTables.min.js"></script>
    <link href="~/Areas/Admin/Content/Datatable/datatables.bootstrap.css" rel="stylesheet" />


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    <script src="~/Areas/Admin/Content/js/jquery/dist/jquery-ui.min.js"></script>

    @*<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-jQuery-UI-Month-Year-Picker-mtz-monthpicker/jquery.mtz.monthpicker.js"></script>*@


    <script src="~/Areas/Admin/Content/js/croppie/angular-croppie.js"></script>
    <link href="~/Areas/Admin/Content/js/croppie/croppie.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/js/croppie/croppie.js"></script>


    <link href="~/Areas/Admin/Content/js/angular-confirm/angular-confirm.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/js/angular-confirm/angular-confirm.js"></script>

    <link href="~/Areas/Admin/Content/js/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/js/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery-toast-plugin/dist/toastDemo.js"></script>




    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="~/Areas/Admin/Content/js/App/app.js"></script>


</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Dashboard")">
                <div class="sidebar-brand-icon rotate-n-15">
                    @*<i class="fas fa-laugh-wink"></i>*@
                    MW 
                </div>
                <div class="sidebar-brand-text mx-3">MakerWala</div>
                @*<div class="sidebar-brand-text mx-3">MIS <sup>2019</sup></div>*@
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "activitylog")">
                    <i class="fab fa-autoprefixer"></i>
                    <span>Activity Log</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "UploadVideo")">
                    <i class="fas fa-video"></i>
                    <span>Videos</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            @*<div class="sidebar-heading">
                Interface
            </div>*@
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Master</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Block")">Blocks</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Teacher")">Teachers</a>
                        <a class="collapse-item" href="@Url.Action("Index", "School")">Schools</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Subject")">Subjects</a>
                        <a class="collapse-item" href="@Url.Action("Index", "ClassLevel")">Class Levels</a>
                        <a class="collapse-item" href="@Url.Action("Index", "TextBook")">Text Book chapter</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Cluster")">Cluster</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Country")">Country</a>
                        <a class="collapse-item" href="@Url.Action("Index", "State")">State</a>
                        <a class="collapse-item" href="@Url.Action("Index", "City")">City</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Type")">Type</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    @* <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>*@
                    <!-- Topbar Navbar -->
                    <label class="h3 mb-0 text-gray-800" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@WebApp.Utility.SessionFacade.AdminUserSession.blockname</span>
                    </label>
                    <ul class="navbar-nav ml-auto">
                        @*   <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                           <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                       <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>*@
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@WebApp.Utility.SessionFacade.AdminUserSession.teacherfirstname @WebApp.Utility.SessionFacade.AdminUserSession.teacherlastname</span>
                                @*<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">*@
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "Changepasword")">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Login")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div cg-busy="myPromise"></div>
                    <ion-loader></ion-loader>
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2019 All rights reserved MAKERWALA, Powered by UVTECH GLOBAL</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="~/Areas/Admin/Content/js/App/app.directive.js"></script>
    <script src="~/Areas/Admin/Content/js/App/app.module.js"></script>
    <!-- Bootstrap core JavaScript-->
    @*    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>*@

    <script src="~/Areas/Admin/Content/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap/js/ui-bootstrap-tpls-0.13.4.min.js"></script>

    <!-- Core plugin JavaScript-->
    @*   <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Areas/Admin/Content/js/moment/moment.js"></script>*@

    <!-- Custom scripts for all pages-->

    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Areas/Admin/Content/js/sb-admin-2.js"></script>
    @*<script src="~/Areas/Admin/Content/js/demo/chart-bar-demo.js"></script>*@

    <script>

        //app.controller("CtrlMain", function ($scope, $http, $q, $interval) {
        //    $scope.CtrlMain = {};

        //    //$(document).ready(function () {
        //    //    jQuery.noConflict();
        //    //    $(".date").datepicker({
        //    //        dateFormat: 'dd/mm/yy'
        //    //    });
        //    //    $(".dateTime").datepicker({
        //    //        dateFormat: 'yy-dd-mm HH:MM:ss'
        //    //    });
        //    //});
        //});

        var getQueryStringValue = function getQueryStringValue(key) {
            return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
        }

        function toDataUrl(src, callback, outputFormat) {
            outputFormat = "image/png";
            var img = new Image();
            img.crossOrigin = 'Anonymous';
            img.onload = function () {
                var canvas = document.createElement('CANVAS');
                var ctx = canvas.getContext('2d');
                var dataURL;
                canvas.height = this.naturalHeight;
                canvas.width = this.naturalWidth;
                ctx.drawImage(this, 0, 0);
                dataURL = canvas.toDataURL(outputFormat);
                callback(dataURL);
                canvas = null;
            };
            img.src = src;
        }
    </script>
</body>
</html>
